{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>教員補助</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>教員補助</h1>
    <!-- <form method="post" action="{% url 'viewresult' %}">
      {% csrf_token %}
      <input type="text" name="input" />
      <br />
      <button type="submit">送信</button>
    </form> -->

    <form method="POST">
      {% csrf_token %}
      <div class="inputForm">
        <div>{{ form.as_p }}</div>
        <button type="submit" class="button">検索</button>
      </div>
    </form>

    {{ chat_results }}

    <a href="{% url 'search_db' %}">問題作成</a>
    <a href="{% url 'new' %}">履歴</a>
  </body>
</html>
