{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>New Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            color: #333;
            
        }
        /* further styles as required */
    </style>
</head>
<body>
    <a href="{% url 'history' %}?sort=asc">昇順にソート</a> | <a href="{% url 'history' %}?sort=desc">降順にソート</a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">保存された結果の履歴</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">解説</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'search_db' %}">問題作成</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'new' %}">履歴</a>
            </li>
            <!-- Add other navbar items here as needed -->
          </ul>
        </div>
    </nav>

    <!-- Content and forms here -->

    {% if saved_results %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>SQL Result</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for saved_result in saved_results %}
                        <tr>
                            <td>{{ saved_result.sql_result }}</td>
                            <td>
                                <form action="{% url 'delete_sql_result' saved_result.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="削除" class="btn btn-danger btn-sm">
                                </form>
                                <br>
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>SQL 結果はありません。</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.10/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>